@font-face {
  font-family: "Widgets";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/widgets-1ffbfca5de.eot");
  src: url("../fonts/widgets-1ffbfca5de.eot?#iefix") format("embedded-opentype"), url("../fonts/widgets-49e6eaa61a.woff") format("woff"), url("../fonts/widgets-ccf964a7ff.ttf") format("truetype"), url("../fonts/widgets-b6be20262c.svg#fontello") format("svg"); }
