.popupOpen {
    border-bottom: 1px dashed #404040;
    cursor: pointer;
}

.popupWindow {
    display: none;
}

.popupWindow {
    position: absolute;
    right: 100px;
    bottom: 94px;
    color: #404040;
    background: #ebf3f9;
    width: 550px;
    border: 1px solid #7c99b9;
    box-shadow: 0 5px 5px #d4d4d4;
}

.popupWindow .inner {
    padding: 0px 22px 15px;
    position: relative;
    text-align: justify;
}

.popupWindow .wind_bot {
    position: absolute;
    bottom: -39px;
    right: 28px;
}

.popupWindow h2 {
    font-size: 17px;
    line-height: 19px;
    font-weight: normal;
    color: #255994;
    margin: 0px 0px 8px;
    padding: 0px;
}

.popupWindow ul {
    margin: 0px 0px 5px;
    padding: 0px;
    list-style: none;
}

.popupWindow ul li {
    background: url(/img/black_bul.png) no-repeat left 4px;
    margin-bottom: 7px;
    padding-left: 7px;
}

.popupWindow em {
    color: #666666;
    font: italic 11px Arial, Geneva, sans-serif;
}

.popupClose {
    padding: 3px 5px 1px;
    text-align: right;
    width: auto !important;
}

.popupWrapper {
    position: relative;
}

.program_add_guarantee #add_guarant {
    bottom: 80px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#popupWindowBlagosostoyanie {
    width: 560px;
}

#popupWindowBlagosostoyanie ul {
    color: #000000;
    margin: 0 0 25px 14px;
    list-style: disc;
}

#popupWindowBlagosostoyanie li {
    padding: 0;
    margin: 0;
    background: none;
}

#popupWindowBlagosostoyanie .inner {
    padding: 0px 22px 30px;
    text-align: left;
}

#popupWindowBlagosostoyanie .popupClose {
    padding: 11px 6px 1px;
}

.topArrow::before, .topArrow::after {
    left: 11%;
    top: -50px;
    margin-left: -25px;
    clip: rect(0px, 50px, 25px, 0px);
}

#popupWindowBlagosostoyanie .inner::before {
    color: #7c99b9;
}

#popupWindowBlagosostoyanie .inner::before, #popupWindowBlagosostoyanie .inner::after {
    content: "\2666";
    font-family: monospace;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    width: 35px;
    height: 35px;
    user-select: none;
}

.topArrow::after {
    top: -48px;
    color: #ebf3f9;
}

.protection_perchase_content {
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    padding: 0 2px;
    max-width: 1470px;
    margin: 0 auto;
}

.protection_perchase_main * {
    box-sizing: border-box;
}

.protection_perchase_content .protection_perchase_item1, .protection_perchase_content .protection_perchase_item1 * {
    box-sizing: unset;
}

.protection_perchase_content h3 {
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 25px;
    text-align: center;
}

.protection_perchase_content h4 {
    font-size: 24px;
    line-height: 27px;
    font-weight: normal;
    margin: 0 0 27px;
    text-align: left;
}

.protection_perchase_content p {
    padding: 0;
}

.protection_perchase_content .sum {
    color: #59b337;
}

.protection_perchase_head {
    background: url(/img/insurance/renaissance_head.jpg) no-repeat center 0;
    height: 700px;
}

.protection_perchase_head h3 {
    font-size: 25px;
    line-height: 33px;
    color: #50287d;
    font-weight: bold;
    margin: 0 0 18px;
    text-align: left;
    text-transform: uppercase;
}

.protection_perchase_head p {
    margin: 0 0 20px;
}

.protection_perchase_item1 {
    padding: 10% 0 0 121px;
    width: 32%;
    box-sizing: content-box;
}

.protection_perchase_item1 .logo1 {
    margin: 0 0 33%;
}

.protection_perchase_desc {
    text-align: center;
    margin: 0 auto 65px;
    max-width: 1160px;
    padding: 0 15px;
}

.protection_perchase_item2 {
    margin: 0 auto;
    text-align: center;
}

#protection_lite .protection_perchase_item2 {
    max-width: 1250px;
    padding-left: 30px;
}

.protection_perchase_item2 .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.protection_perchase_content div.procent {
    color: #50287d;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 15px;
    padding-top: 25px;
    font-weight: bold;
}

.protection_perchase_item2 .procent_box {
    margin: 0 0 58px;
    text-align: left;
    vertical-align: top;
}

.protection_perchase_item2 .procent_box_rt {
    height: 238px;
}

.protection_perchase_item2 .procent_box_rt > div, .protection_perchase_item2 .procent_box_rt > p {
    max-width: 350px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.protection_perchase_item2 .info {
    padding-top: 55px;
    margin: 0 0 15px;
}

.protection_perchase_item2 .info .nmb {
    font-size: 36px;
    color: #50287d;
}

.protection_perchase_item2 .procent_box_rt > div.info1 {
    background: url(/img/insurance/camera.jpg) no-repeat right 10px;
    padding: 0 126px 22px 0;
    position: relative;
}

.protection_perchase_item2 .procent_box_rt > div.info2 {
    background: url(/img/insurance/player.jpg) no-repeat right 20px;
    padding: 22px 125px 20px 0;
}

.protection_perchase_item2 .procent_box_rt > div.info1::after {
    background: url(/img/insurance/bord1.png) repeat-x 0 0;
    content: "";
    display: block;
    height: 1px;
    line-height: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.protection_perchase_item2 .info2 .nmb {
    font-size: 36px;
    color: #50287d;
}

.protection_perchase_item2 .procent_box_hd {
    display: none;
    padding-top: 0;
}

.protection_perchase_item2 .box1 {
    width: 41%;
}

.protection_perchase_item2 .box11 {
    background: url(/img/insurance/proc_brd11.png) no-repeat 0 0;
}

.protection_perchase_item2 .box1 .procent_box_rt {
    background: url(/img/insurance/proc_brd12.png) no-repeat right 0;
}

.protection_perchase_item2 .box2 {
    width: 41%;
}

.protection_perchase_item2 .box22 {
    background: url(/img/insurance/proc_brd13.png) no-repeat 0 0;
    margin-left: -13px;
}

.protection_perchase_item2 .box2 .procent_box_rt {
    background: url(/img/insurance/proc_brd14.png) no-repeat right 0;
}

.protection_perchase_item2 .box3 {
    width: 41%;
}

.protection_perchase_item2 .box33 {
    background: url(/img/insurance/proc_brd21.png) no-repeat 0 0;
}

.protection_perchase_item2 .box3 .procent_box_rt {
    background: url(/img/insurance/proc_brd22.png) no-repeat right 0;
    height: 349px;
}

.protection_perchase_item2 .box3 .info {
    max-width: 320px;
}

.protection_perchase_item2 .box4 {
    width: 41%;
}

.protection_perchase_item2 .box44 {
    background: url(/img/insurance/proc_brd23.png) no-repeat 0 0;
}

.protection_perchase_item2 .box4 .procent_box_rt {
    background: url(/img/insurance/proc_brd24.png) no-repeat right 0;
    height: 349px;
}

.protection_perchase_item2 .box4 .procent {
    padding-top: 10px;
}

.protection_perchase_item2 .technic_box1 {
    background: url(/img/insurance/technic1.jpg) no-repeat 20% 0;
    margin: 0;
    width: 18%;
    height: 240px;
    display: inline-block;
    vertical-align: top;
}

.protection_perchase_item2 .technic_box2 {
    background: url(/img/insurance/technic2.jpg) no-repeat center 43px;
    width: 18%;
    height: 349px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.protection_perchase_item2 .technic_box3 {
    display: none;
    background: url(/img/insurance/technic3.jpg) no-repeat 16px 70px;
    width: 230px;
    height: 349px;
    vertical-align: top;
    margin: 0 0px 56px 27px;
}

.protection_perchase_item2 .box5, .protection_perchase_item2 .box6, .protection_perchase_item2 .technic_box5, .protection_perchase_item2 .technic_box6 {
    display: none;
}

.protection_perchase_item3 {
    background: #f7f7f7;
    padding-top: 65px;
    margin: 0 0 65px;
}

.protection_perchase_item3 h3 {
    margin-bottom: 65px;
}

.protection_perchase_item3 h4 {
    color: #ffffff;
}

.protection_perchase_item3 .slide_wrap {
    color: #ffffff;
    margin: 0 auto;
    max-width: 1220px;
    position: relative;
    padding-bottom: 15px;
}

.protection_perchase_item3 .slide_wrap img {
    width: 59%;
}

.protection_perchase_item3 .slide_wrap .about {
    padding: 6% 7% 5% 7%;
    position: absolute;
    background: #50287d;
    bottom: 0;
    width: 48%;
    right: 0;
    line-height: 20px;
}

.protection_perchase_item3 .slide_wrap .line {
    background: #f7f7f7;
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.protection_perchase_item3 .insurance_cost {
    text-align: center;
    padding-top: 25px;
    margin: 0 auto 55px;
    position: relative;
}

.protection_perchase_item3 .insurance_cost .cost {
    color: #50287d;
    border-bottom: 1px solid #50287d;
    cursor: pointer;
}

.protection_perchase_item3 .insurance_cost_tbl {
    position: absolute;
    margin-left: -353px;
    left: 50%;
    bottom: 33px;
    max-width: 706px;
    background: #ffffff;
    border: 1px solid #50287d;
    z-index: 10;
    display: none;
}

.protection_perchase_item3 .insurance_cost_wr {
    position: relative;
}

.protection_perchase_item3 .close_tbl {
    display: block;
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
}

.protection_perchase_item3 .insurance_cost_tbl table {
    border-collapse: collapse;
}

.protection_perchase_item3 .insurance_cost_tbl th {
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    background: #50287d;
    height: 47px;
}

.protection_perchase_item3 .insurance_cost_tbl th:first-child {
    width: 350px;
    border-right: 1px solid #50287d;
}

.protection_perchase_item3 .insurance_cost_tbl td {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    height: 35px;
    background: #f4f9ff;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.protection_perchase_item3 .insurance_cost_tbl tr.hdr td {
    height: 61px;
    border-bottom: 1px solid #50287d;
    border-left: 1px solid #50287d;
    background: #f2f2f2;
}

.protection_perchase_item3 .insurance_cost_tbl tr.hdr td:first-child {
    border-left: none;
}

.protection_perchase_item3 .insurance_cost_tbl tr.hdr td:last-child {
    width: 173px;
}

.protection_perchase_item3 .insurance_cost_tbl td:first-child {
    background: #ffffff;
    border-left: none;
}

.protection_perchase_item3 .insurance_cost_tbl tr:last-child td {
    border-bottom: none;
}

.protection_perchase_item3 .insurance_cost_tbl td:first-child span {
    width: 56px;
    display: inline-block;
}

.protection_perchase_item3 .insurance_cost_tbl td:first-child span.f_val {
    width: 38px;
}

.protection_perchase_item3 .insurance_cost_tbl table::after {
    border: 9px solid transparent;
    border-top: 9px solid #50287d;
    content: "";
    display: block;
    position: absolute;
    left: 52%;
    bottom: -18px;
}

.protection_perchase_item4 .insurance_scheme {
    max-width: 971px;
    margin: 0 auto;
    position: relative;
}

.protection_perchase_item4 .insurance_scheme .sm_im {
    display: none;
}

.protection_perchase_item4 .scheme_box {
    position: absolute;
    width: 150px;
    text-align: center;
    display: none;
}

.protection_perchase_item4 #box1 {
    left: 286px;
    top: 46px;
}

.protection_perchase_item4 #box2 {
    left: 103px;
    top: 235px;
}

.protection_perchase_item4 #box3 {
    right: 101px;
    top: 227px;
}

.protection_perchase_item4 #box4 {
    left: 10px;
    bottom: 13px;
}

.protection_perchase_item4 #box5 {
    left: 194px;
    bottom: 49px;
}

.protection_perchase_item4 #box6 {
    right: 194px;
    bottom: 23px;
}

.protection_perchase_item4 #box7 {
    right: 10px;
    bottom: 23px;
}

.protection_perchase_item4 .more {
    padding-top: 30px;
    text-align: center;
    color: #b8b7b7;
    margin: 0 0 30px;
    font-size: 14px;
}

.protection_perchase_item4 .about_insurance_list {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}

.protection_perchase_item4 .about_insurance_list li {
    float: left;
    width: 18%;
    margin: 0 3.5% 60px;
    list-style: none;
    text-align: center;
}

.protection_perchase_item5 {
    background: #50287d;
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    padding: 0 5%;
}

.protection_perchase_item5 a {
    color: #ffffff;
    text-decoration: none;
}

.protection_perchase_item5 .fix {
    max-width: 1210px;
    margin: 0 auto;
    display: table;
}

.protection_perchase_item5 .info3 {
    padding: 50px 18% 60px 0;
    width: 100%;
    display: table-cell;
}

.protection_perchase_item5 .logo2 {
    padding-top: 5%;
    display: table-cell;
    width: 194px;
}

.about_insurance_list:after {
    content: "";
    display: block;
    clear: both;
}

/* Browser Resets */
.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

#flexslider1 .slides > li, #flexslider2 .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    display: block;
}

/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}


/* FlexSlider Default Theme
*********************************/
.flexslider {
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.flexslider .slides {
    zoom: 1;
}


/* Direction Nav */
.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    width: 21px;
    height: 64px;
    margin: 0;
    display: block;
    background: url(/img/insurance/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 44%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    -webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: 3.3%;
}

.flex-direction-nav .flex-prev {
    left: 3.3%;
}


/* New program design */

.protection_perchase_tabs {
    height: 116px;
    max-height: 116px;
    margin: 0 0 45px;
    position: relative;
}

.protection_perchase_tabs > span {
    font-size: 24px;
    line-height: 1.1;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 50%;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: #cedc00;
    height: 99px;
    padding-top: 37px;
    cursor: pointer;
}

.protection_perchase_tabs > span.active {
    background: #50287d;
}

.protection_perchase_tabs > span.lite.active {
    background: #50287d;
}

.protection_perchase_tabs > span.active::after {
    content: "";
    display: block;
    position: absolute;
    margin-left: -30px;
    left: 25%;
    bottom: -13px;
    border: 19px solid transparent;
    border-top: 12px solid #50287d;
}

.protection_perchase_tabs > span.lite.active::after {
    left: 75%;
}

.protection_block .protection_perchase_desc > div {
    font-size: 20px;
}

.protection_perchase_item3 {
    padding-bottom: 70px;
}

.protection_perchase_item3 .insurance_cost {
    padding-top: 55px;
    margin: 0 auto;
}

.protection_perchase_item3 .insurance_cost h3 {
    text-transform: none;
    margin-bottom: 15px;
    color: #50287d;
}

.protection_perchase_item2 .production {
    font-size: 22px;
    line-height: 1.2;
}

.protection_perchase_item2 .production img {
    margin: 0 0 37px;
}

#protection_lite .protection_perchase_item2 .procent_box {
    padding: 0;
    text-align: center;
}

#protection_lite .protection_perchase_item2 .box4 .procent_box_rt {
    height: auto;
    min-height: 349px;
    padding: 0;
    margin-right: 30px;
}

.protection_perchase_item2 .procent_box_rt > div.production {
    max-width: 100%;
}

#protection_lite .protection_perchase_item2::before {
    content: "";
    display: block;
    height: 35px;
}

#protection_lite .protection_perchase_item3 .insurance_cost_tbl tr.hdr td:last-child {
    width: 50%;
}

@media screen and (max-width: 1440px) {
    .protection_perchase_item3 .slide_wrap {
        max-width: 970px;
    }

    .protection_perchase_item3 .slide_wrap img {
        width: 61%;
    }

    .protection_perchase_item3 .slide_wrap .about {
        width: 52.5%;
    }

    .protection_perchase_item5 .info3 {
        padding: 50px 8% 60px 0;
    }

    .protection_perchase_item5 {
        padding: 0 7%;
    }
}

@media screen and (max-width: 1280px) {
    .protection_perchase_head {
        height: 621px;
        background-size: auto 100%;
        background-position: 0 0;
    }

    .protection_perchase_item2 .procent_box_rt > div.production {
        max-width: 90%;
    }

    .protection_perchase_item2 .box3 .info {
        max-width: 250px;
    }

    .protection_perchase_item1 {
        padding-top: 8%;
        width: 33%;
    }

    .protection_perchase_item2 .box1, .protection_perchase_item2 .box2, .protection_perchase_item2 .box3, .protection_perchase_item2 .box4 {
        width: 38%;
    }

    .protection_perchase_item2 .box2 {
        width: 38%;
    }

    .protection_perchase_item2 .technic_box1, .protection_perchase_item2 .technic_box2 {
        width: 22%;
    }

    .protection_perchase_item2 .procent_box_rt > div, .protection_perchase_item2 .procent_box_rt > p {
        padding-left: 0%;
        padding-right: 0%;
    }

    .protection_perchase_content div.procent {
        font-size: 80px;
    }
}

@media screen and (max-width: 1100px) {
    .protection_perchase_head {
        height: 550px;
    }

    .protection_perchase_item1 {
        padding: 5% 0 0 91px;
        width: 37%;
    }

    .protection_perchase_item1 .logo1 {
        margin: 0 0 65px;
    }

    .protection_perchase_head h3 {
        font-size: 22px;
        line-height: 31px;
        margin: 0 0 50px;
    }

    .protection_perchase_item2 .procent_box_rt > div, .protection_perchase_item2 .procent_box_rt > p {
        max-width: 250px;
    }

    .protection_perchase_item2 .box1, .protection_perchase_item2 .box2, .protection_perchase_item2 .box3, .protection_perchase_item2 .box4 {
        width: 36%;
    }

    .protection_perchase_item2 .technic_box1, .protection_perchase_item2 .technic_box2 {
        margin: 0px;
        width: 26%;
    }

    .protection_perchase_content div.procent {
        font-size: 65px;
    }

    .protection_perchase_item2 .procent_box_rt > div.info1 {
        background-size: 30% auto;
        background-position: right 40px;
        padding: 0 45px 22px 0;
    }

    .protection_perchase_item2 .procent_box_rt > div.info1 br {
        display: none;
    }

    .protection_perchase_content .box4 div.procent {
        padding-top: 15px;
    }

    .protection_perchase_item2 .procent_box_rt > div.info2 {
        padding: 22px 60px 20px 0;
        background-size: 29% auto;
        background-position: right 29px;
    }

    .protection_perchase_item3 .slide_wrap {
        max-width: 720px;
        overflow: hidden;
    }

    .protection_perchase_item3 .slide_wrap .about {
        padding: 5% 5% 3% 5%;
    }

    .protection_perchase_item3 .slide_wrap img {
        width: 100%;
        margin-left: -30%;
    }

    .protection_perchase_item3 .slide_wrap .line {
        height: 140px;
    }

}

@media screen and (max-width: 900px) {
    .protection_perchase_item1 .logo1 {
        margin: 0 0 35px;
    }

    .protection_perchase_item1 .logo1 img {
        width: 170px;
    }

    .protection_perchase_head {
        height: 450px;
    }

    .protection_perchase_item1 {
        padding: 5% 0 0 34px;
        width: 45%;
    }

    .protection_perchase_head h3 {
        font-size: 20px;
        line-height: 29px;
        margin: 0 0 40px;
    }

    .protection_perchase_tabs > span {
        font-size: 18px;
        height: 60px;
        padding-top: 20px;
    }

    .protection_perchase_tabs {
        height: 78px;
        max-height: 78px;
        margin: 0 0 25px;
    }

    .protection_perchase_content div.procent {
        font-size: 48px;
    }

    .protection_perchase_item2 .procent_box_rt > div, .protection_perchase_item2 .procent_box_rt > p, .protection_perchase_item2 .box3 .info {
        max-width: 192px;
    }

    .protection_perchase_item2 .box1, .protection_perchase_item2 .box2, .protection_perchase_item2 .box3, .protection_perchase_item2 .box4 {
        width: 37%;
    }

    .protection_perchase_item2 .technic_box1, .protection_perchase_item2 .technic_box2 {
        margin: 0px;
        width: 25%;
        background-size: auto 66%;
        background-position: center;
    }

    .protection_perchase_item2 .procent_box_rt > div.info1 {
        background-size: 27% auto;
        background-position: 0 bottom;
        padding: 0 0 35px 0;
    }

    .protection_perchase_item2 .procent_box_rt > div.info2 {
        padding: 22px 0 38px 0;
        background-size: 24% auto;
        background-position: left bottom;
    }

    .protection_perchase_item3 .slide_wrap {
        max-width: 600px;
    }

    .protection_perchase_item3 .slide_wrap .about {
        width: 56%;
    }

    .flex-direction-nav a {
        top: 30%;
    }

    .protection_perchase_item5 .fix {
        display: block;
        position: relative;
        padding-bottom: 55px;
    }

    .protection_perchase_item5 .info3 {
        padding: 30px 0 0 0;
        display: block;
    }

    .protection_perchase_item5 .logo2 {
        padding-top: 0;
        display: block;
        width: 90px;
        position: absolute;
        right: 0;
        bottom: 25px;
    }

    .protection_perchase_item5 .logo2 img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 650px) {
    .protection_perchase_head {
        background-position: center 0;
    }

    .protection_perchase_item1 {
        padding: 0;
        width: 100%;
        position: relative;
        height: 450px;
    }

    .protection_perchase_wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: url(/img/insurance/top_px.png) repeat 0 0;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        padding: 20px;
    }

    .protection_perchase_head h3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 15px;
        color: #e2f100;
        text-align: center;
    }

    .protection_perchase_head p {
        margin: 0;
    }

    .protection_perchase_item1 .logo1 img {
        width: 150px;
        margin: 20px;
    }

    .protection_perchase_head .sl, .protection_perchase_head .sl span {
        color: white !important;
        font-weight: normal;
    }

    .protection_perchase_tabs > span {
        font-size: 16px;
    }

    .protection_perchase_content {
        font-size: 14px;
        line-height: 17px;
    }

    .protection_perchase_content h3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0 5px 15px;
    }

    .protection_perchase_desc {
        margin: 0 auto 25px;
    }

    .protection_block .protection_perchase_desc > div {
        font-size: 14px;
    }
}

@media screen and (max-width: 575px) {
    .protection_perchase_item3 .insurance_cost_tbl tr.hdr td:last-child {
        width: auto;
    }

    .protection_perchase_item3 .insurance_cost_tbl tr.hdr td:last-child {
        width: auto;
    }

    .protection_perchase_item3 .insurance_cost_tbl th:first-child {
        width: auto;
    }

    .protection_perchase_item3 .insurance_cost_tbl {
        margin-left: 0;
        left: 0;
    }

    .protection_perchase_item3 .insurance_cost_tbl td:first-child span {
        width: 5px;
    }

    .protection_perchase_item3 .insurance_cost_tbl td {
        font-size: 12px;
        line-height: 14px;
    }

    .protection_perchase_item3 .insurance_cost_tbl th:first-child {
        width: auto;
    }

    .protection_perchase_item3 .insurance_cost_tbl td:first-child span {
        width: 10px;
    }

    .protection_perchase_item3 .insurance_cost_tbl th {
        font-size: 14px;
        line-height: 16px;
    }

    .protection_perchase_item2 .box2, .protection_perchase_item2 .box4 {
        display: none;
    }

    .protection_perchase_item2 .technic_box1, .protection_perchase_item2 .technic_box2 {
        width: 44%;
        background-size: auto 90%;
    }

    .protection_perchase_item2 .technic_box1 {
        background-size: auto 70%;
        height: 310px;
    }

    .protection_perchase_item2 .technic_box2 {
        background-size: auto 80%;
        height: 252px;
    }

    .protection_perchase_item2 .box1, .protection_perchase_item2 .box2, .protection_perchase_item2 .box3, .protection_perchase_item2 .box4 {
        width: 50%;
        margin-bottom: 20px;
    }

    .protection_perchase_item2 .procent_box_hd {
        display: block;
    }

    .protection_perchase_item2 .procent_box_rt > div, .protection_perchase_item2 .procent_box_rt > p, .protection_perchase_item2 .box3 .info {
        max-width: 200px;
    }

    .protection_perchase_item2 .box1 .procent_box_rt {
        height: 310px;
    }

    .protection_perchase_item2 .box1 .procent_box_rt {
        background: url(/img/insurance/proc_brd12_sm.png) no-repeat right 0;
    }

    .protection_perchase_item2 .box11 {
        background: url(/img/insurance/proc_brd11_sm.png) no-repeat 0 0;
    }

    .protection_perchase_item2 .box3 .procent_box_rt {
        background: url(/img/insurance/proc_brd14_sm.png) no-repeat right 0;
        height: 232px;
    }

    .protection_perchase_item2 .box33 {
        background: url(/img/insurance/proc_brd13_sm.png) no-repeat 0 0;
    }

    .protection_perchase_item2 .info .nmb {
        font-size: 18px;
    }

    .protection_perchase_item2 .info {
        padding-top: 30px;
    }

    .protection_perchase_item2 .box5, .protection_perchase_item2 .box6, .protection_perchase_item2 .technic_box5, .protection_perchase_item2 .technic_box6 {
        display: block;
    }

    .protection_perchase_item2 .box5 .procent_box_rt {
        background: url(/img/insurance/proc_brd16_sm.png) no-repeat right 0;
        height: 166px;
    }

    .protection_perchase_item2 .box5 {
        background: url(/img/insurance/proc_brd15_sm.png) no-repeat 0 0;
        width: 50%;
        margin-bottom: 20px;
    }

    .protection_perchase_item2 .box6 .procent_box_rt {
        background: url(/img/insurance/proc_brd18_sm.png) no-repeat right 0;
        height: 142px;
    }

    .protection_perchase_item2 .box6 {
        background: url(/img/insurance/proc_brd17_sm.png) no-repeat 0 0;
        width: 50%;
        margin-bottom: 40px;
    }

    .protection_perchase_item2 .technic_box5 {
        background: url(/img/insurance/camera.jpg) no-repeat center bottom;
        background-size: auto 38%;
        height: 166px;
        width: 44%;
    }

    .protection_perchase_item2 .technic_box6 {
        background: url(/img/insurance/player.jpg) no-repeat center bottom;
        background-size: auto 70%;
        height: 142px;
        width: 44%;
    }

    .protection_perchase_item2 .procent_box_rt > div.info1, .protection_perchase_item2 .procent_box_rt > div.info2 {
        background-image: none;
    }

    .protection_perchase_item2 .procent_box_rt > div.info1::after {
        background: none;
    }

    .protection_perchase_item3 {
        padding-bottom: 30px;
        padding-top: 30px;
        margin: 0 0 35px;
    }

    .protection_perchase_content h3 {
        font-weight: bold;
    }

    .protection_perchase_item3 .slide_wrap {
        max-width: 82%;
    }

    .protection_perchase_item3 .slide_wrap .line {
        height: 150px;
    }

    .protection_perchase_item3 .slide_wrap .about {
        width: 72%;
    }

    .protection_perchase_content h4 {
        font-size: 18px;
        line-height: 23px;
        font-weight: bold;
        margin: 0 0 20px;
        text-align: left;
    }

    .protection_perchase_item3 .slide_wrap img {
        width: 150%;
        margin-left: -70%;
    }

    .flex-direction-nav a {
        height: 35px;
        top: 40%;
        background-size: auto 100%;
    }

    .protection_perchase_item3 .insurance_cost {
        padding-top: 25px;
    }

    .protection_perchase_item4 .insurance_scheme .sm_im {
        display: block;
        margin: 0 auto;
    }

    .protection_perchase_item4 .insurance_scheme .b_im {
        display: none;
    }

    .protection_perchase_item4 .about_insurance_list li {
        float: left;
        width: 40%;
        margin: 0 2.5% 20px;
        text-align: left;
    }
}

@media screen and (max-width: 500px) {
    .protection_perchase_head {
        background-position: 73% 0;
        height: auto;
        background-size: auto 345px;
    }

    .flex-direction-nav a {
        width: 13px;
        height: 36px;
        background: url(/img/insurance/bg_direction_mnav.png) no-repeat 0 0;
        top: 35%;
    }

    .protection_perchase_wrap {
        position: static;
        background: #3d314a;
        padding: 20px 10px;
        margin-top: 266px;
    }

    .protection_perchase_item1 {
        height: auto;
    }

    .protection_perchase_item1 .logo1 img {
        width: 130px;
        margin: 4px;
    }

    .protection_perchase_tabs > span {
        font-size: 14px;
        padding: 20px 5px 0;
        font-weight: bold;
    }

    .protection_perchase_item2 .technic_box1, .protection_perchase_item2 .technic_box2, .protection_perchase_item2 .technic_box5, .protection_perchase_item2 .technic_box6 {
        width: 100%;
    }

    .protection_perchase_item2 .box1, .protection_perchase_item2 .box3, .protection_perchase_item2 .box5, .protection_perchase_item2 .box6 {
        width: 300px;
        margin: 0 auto 20px;
    }

    .protection_perchase_item2 .box33, .protection_perchase_item2 .box11 {
        background: none;
    }

    .protection_perchase_item2 .box1, .protection_perchase_item2 .box3, .protection_perchase_item2 .box5, .protection_perchase_item2 .box6 {
        background: url(/img/insurance/top1.png) no-repeat center 0;
        padding-top: 42px;
    }

    .protection_perchase_item2 .box1 .procent_box_rt, .protection_perchase_item2 .box3 .procent_box_rt, .protection_perchase_item2 .box5 .procent_box_rt, .protection_perchase_item2 .box6 .procent_box_rt {
        background: url(/img/insurance/top2.png) no-repeat center bottom;
        padding-bottom: 28px;
    }

    .protection_perchase_item2 .procent_box_rt > div, .protection_perchase_item2 .procent_box_rt > p, .protection_perchase_item2 .box3 .info {
        max-width: 250px;
    }

    .protection_perchase_item2 .technic_box5 {
        margin-top: -90px;
    }

    .protection_perchase_item2 .technic_box6 {
        margin-top: -40px;
    }

    .protection_perchase_item3 .slide_wrap .about {
        width: 100%;
        position: static;
    }

    .protection_perchase_item3 .slide_wrap .line {
        display: none;
    }

    .protection_perchase_item3 .slide_wrap {
        max-width: 100%;
    }

    .protection_perchase_item3 .slide_wrap img {
        width: 110%;
        margin-left: 0;
    }
}

@media screen and (max-width: 340px) {
    .protection_perchase_item4 .about_insurance_list li {
        float: none;
        width: 100%;
    }

    .protection_perchase_item5 .logo2 {
        right: auto;
    }
}

@media screen and (min-width: 576px) {
    .order-sm-1 {
        order: 1;
    }

    .order-sm-2 {
        order: 2;
    }

    .order-sm-3 {
        order: 3;
    }
}

.popupWindow {
    bottom: auto;
}

.topArrow::before, .topArrow::after {
    left: auto;
    right: 3%;
}
